html, body {
    height: 100%;
}
.full-height {
    height: 100%;
}
body{
    background-color: #538785;
    display: flex;
    justify-content: center;
    align-items: center;
}
#frame{
    background-color: #feba33;
    border-radius: 10px;
    width: 900px;
    height: 600px;
    display: flex;
}
#leftFrame{
    width: 500px;
    height: 600px;
    background-color: #18515c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    position: relative;
}
#triangle{
    border-top: 600px solid #18515c;
    border-right: 100px solid transparent;
}
#lightShine{
    position: absolute;
    border-left: 200px solid #fce36d;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    height: 237px;
    opacity: 10%;
    margin-right: 264px;
    margin-bottom: 4px;
}
#rightFrame{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#loginFrame{
    width: 370px;
    height: 370px;
    background-color: white;
    border-radius: 10px;
}
#loginForm{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around ;
    flex-direction: column;
}
#loginHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    box-shadow: 0px 5px 8px grey;
}
#alreadyMember{
    color: #feba33;
}
#needHelp{
    opacity: 40%;
}
#typeableInput{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    flex-direction: column;
}
#typeableInput>input{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-color: silver;
    border-width: 2px ;
}
#submitDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#submit{
    width: 300px;
    height: 70px;
    background-color: #19545c;
    color: white;
    border: 0;
    border-radius: 5px;
}
#dontHave{
    color: white;
}